numpy
neo4j
pandas
python-dotenv
sentence-transformers 
typing-extensions
llama-index-embeddings-huggingface
json-repair
setuptools
fastapi
pydantic
pyngrok
kaleido
python-multipart
tiktoken
sse-starlette
uvicorn
nest-asyncio
linkedin-api
func_timeout
wrapt_timeout_decorator
google
google-auth
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
ntscraper
praw
tzlocal
cryptography
requests
pyinstaller
ruff