# src/client/.dockerignore

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Node
node_modules
npm-debug.log

# Next.js build artifacts
.next
out

# Environment files (these should be passed in at runtime)
.env
.env.local
.env.template