# For env vars related to the Google project and Auth0 setup, comment in the discussion titled 'Request Environment Variables (.env) Here' (https://github.com/existence-master/Sentient/discussions/13) Make sure to keep the values in this file empty while committing to the repository
 
# For self-hosting, set NEXT_PUBLIC_ENVIRONMENT to SELFHOST and provide a secure token.
NEXT_PUBLIC_ENVIRONMENT="AUTH0" # Can be "AUTH0" or "SELFHOST"
SELF_HOST_AUTH_TOKEN="" # Must match SELF_HOST_AUTH_SECRET on the server if using SELFHOST mode

NEXT_PUBLIC_APP_SERVER_URL=
AUTH0_SECRET=
AUTH0_BASE_URL="http://localhost:3000" # The base URL of your Next.js app, where it's running
AUTH0_ISSUER_BASE_URL="" # Your Auth0 domain with protocol, e.g. "https://YOUR_TENANT.us.auth0.com"
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=
AUTH0_SCOPE='openid profile email offline_access read:chat write:chat read:profile write:profile manage:google_auth read:tasks write:tasks read:notifications read:config write:config admin:user_metadata'
