{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote":false,
	"semi":false,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"arrowParens": "always",
	"endOfLine": "lf"
}
